
.CartWrapper {
    padding: 20px;
    margin-top: 30px;
}

.title {
    font-weight: 300;
    text-align: center;
    margin: 20px 0px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.topButton {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.topText {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.bottomLeft {
    /* border: 1px solid green; */
    flex: 3;
}

.bottomRight {
    /* border: 1px solid red; */
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}


.course {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.courseDetail {
    flex: 2;
    display: flex;
    /* border: 1px solid green; */
}

.priceDetail {
    flex: 1;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.image {
    width: 200px;
    height: 200px;
}


.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




hr {
    background-color: #eee;
    border: none;
    height: 1px;
}

.summaryTitle {
    font-weight: 200;
}

.summaryItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.summaryItem {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    font-weight: 400;
}

.buyBtn {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}