.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 90%;
    max-width: 1024px;
    height: 250px;
    margin: 20px 0px 100px 0px;
}

.leftHead {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightHead {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}